input {
  position: absolute;
  gap: var(--space-m);
  opacity: 0;
}

label {
  cursor: pointer;
  flex: 1;
  padding-block: var(--space-3xs);
  padding-inline: var(--space-m);
  border-radius: var(--space-m);
  font-size: var(--step-1);
  text-align: center;
  background-color: var(--clr-primary-100);
  transition: background-color 250ms ease, color 250ms ease;
}

label:hover {
  background-color: var(--clr-primary-200);
}

input:checked ~ .label {
  background-color: var(--clr-primary-400);
}
